body{
	margin: 0;
	padding: 0;
    position: relative;
}
nav{
    background-color: white;
     position: fixed;
     z-index: 1;
}
.fijarNav{
    position:fixed;
    background-color: white;
    width:100%;
}
nav ul li a{
    color:black;
    margin-left: 50px;
}
fuente1{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.fuentePrinc{
     font-family: 'Lato', sans-serif;
}
.alineadoDer{
    margin-left: 700px;
}
.imgfondo1{
    background-image:url(../img/taxi2.jpg);
    height: 800px;
    background-size: cover;
}
.fondoAmarilloBack{
    background-color: #fcb425;
    width: 100%;
    height: 500px;
    background-size: 100%;
    position: relative;
    
}
.fondoAmarillo{
    background-color: #fcb425;
    width: 500px;
    height: 400px;
    margin-bottom: 200px;
    margin-top: 200px;
   
}
.alineado{
    margin-left: 70%;
}
.colorBlancoOrigen{
    color:white;
}
.letraBlanca{
    color:white;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.letraBlancaMediana{
    font-size: 20px;
    color: white;
}
.agregarMargenArriba{
    margin-top:50px;
}
.quitarMargen{
    margin-bottom: 0px;
}
.agregarMargenArriba{
    margin-top: 50px;
}
.agregarMargenArriba2{
    margin-top: 100px;
}
.colorBoton{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
}
.colorBoton2{
    background-color: #fcb425;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
}
.colorBoton3{
    background-color: #fcb425;
    border-radius: 5px;
    padding: 5px;
    border-style: solid;
    border-width: thin;
    margin-left: 50px;
    padding-right: 100px;
    border-color: white;
}
.agregarMargenAbajo{
    margin-bottom: 25px;
}

hr{
    width: 150px;
}
.linea{
    color:white;
    width:90%;
}

.anchoP{
    width: 100px;
}
.quitarMargenesIzqyDer{
    margin-left: 0;
    margin-right: 0;
}
.agregarFloat{
    float: left;
}
.agregarMargenIzq{
    margin-left:60px;
}
.quitarPaddings{
    padding: 0;
}
.diseno{
    border-style: solid;
    border-width: thin;
    border-color:white;
    width: 80%;
    height:  400px;
    margin-top: 50px;
}
.tamanoImgIphone{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    position: absolute;
    margin-left: 100px;
}
.tamanoFuente2{
    font-size: 20px;  
}
.alinear{
    margin-left: 750px;
    margin-top: 50px;
}
.fondo3{
    background-image:url(../img/conduce.jpg);
    background-size: cover;
    height: 600px;
}
.diseno2{
    background-color: black;
    opacity:.7;
    margin-left: 75%;
    height: 100%;
}
.botonDestino{
    padding-right: 160px;
}
.botonTrazaRuta{
    margin-left: 100px;
}
.mapa{
    width: 400px;
    height: 280px;
    margin-top: 100px;
    margin-left: 200px;
}
.fondoFooter{
    background-color: black;
    height: 650px;   
}
.logo1{
    margin-top: 100px;
}
.lista1{
    color:white;
    list-style: none;
    font-size: 15px;
    margin-left: 200px;
}
.lista2{
    color:white;
    list-style: none;
    font-size: 15px;
}
.apps{
    margin-top: 200px;
}
.enlace{
    color:white;
    text-decoration: none;
}
.redes{
    width: 40px;
    height: 40px;
}
.tamanoCopy{
    font-size: 19px;
}
.alinearFotoUsuario{
    margin-left: 190px;
}
.fondoModal{
    background-color: aqua;
}
.fondoSubModal{
    background-color: white;
}
.fondoSubModa2{
    background-color: yellow;
    width: 250px;
    height: 80px;
}
.redondearImagen{
    border-radius: 100%;
}
.fondoGris{
    background-color: gainsboro;
    padding: 20px;
    padding-right: 200px;
}
.fondoAmarillo2{
    background-color: yellow;
    padding: 30px;
    margin-left: 40px;
    padding-left: 100px;
    padding-right: 100px;
}